<div class="page-header">
  <h1>Matches</h1>
</div>

<% @name_list.each do |name| %>
<div class="row">
  <div class= "col-md-12">
  <h3><a href="/products/show"><%= name %></a></h3>
  </div>
  </div>
<% end %>

